/*{
    background: black;
}*/

#fondo {
    background: linear-gradient(to top, black, purple);
    height: 300px;
    width: 100%;
}

/* Estilos Carrusel */

#carouselExampleFade {
  margin: 15px;
}

.carousel-item img {
    max-width: 100%;
    margin: auto;
    height: auto;
    object-fit: cover;
  }
  
  .carousel-inner {
    max-height: 500px; /* Ajusta esta altura según tus necesidades */
    border-radius: 5px;
    overflow: hidden;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para los controles */
    border-radius: 50%;
    padding: 10px;
  }
/*---------------------------------------------*/

  .product-section {
    padding: 100px;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    color: white;
}
.product-section img {
    max-width: 80%;
    height: auto;
}
.product-section button{
    border-radius: 12px;
}
.red-bg { background-color: #f42c37; }
.white-bg { background-color: #25d366; color: #000000; }
.blue-bg { background-color: #1863dc; }
.btn-custom { margin-top: 10px; }
  